//Page height
$topDiv-height: calc(100% - 56px);
$topDiv-width: 100%;

//Font
$first-font: 'Montserrat', sans-serif;
$font-color: #2b2b2b;
$font-size: 1rem;
$sub-font-size: .85rem;
$med-font-weight: 300;

//colors
$font-color-dark: #2b2b2b;
$font-color-light: white !global;
$base-font-size: 0.94rem !global; //same as 15px
$line-height: 161.8% !global;
$body-bg-color: #f8f8f8;

//Nav
$nav-height: 56px;
$nav-color: #20232a;
$nav-font-color: $font-color-light;

//Border
$border: 1px solid rgba(0,0,0,.125);
$border-rad: 4px;

//input
$input-height: 14px;
$input-width: 366px;
$input-border: $border;
$input-padding: 13px 15px;
$input-brdr-rad: $border-rad;

//button input
$button-height: 38px;
$button-width: 398px;
$button-bg-color: #1a73e8;
$button-hover-color: darken($button-bg-color, 10%);
$button-color: white;
$button-padding: 6px 4px;
$button-brdr-rad: $border-rad;

//Header sizing
$header-font-weight:  500;
$h1-headline: 2.5rem; //40px
$h2-headline: 2rem; //32px
$h3-headline: 1.75rem; //28px
$h4-headline: 1.5rem; //24px
$h5-headline: 1.25rem; //20px
$h6-headline: 1rem; //16px
$h1-headline-fluid: calc(22px + (40 - 22) * ((100vw - 300px) / (1600 - 300))) !global;
$h2-headline-fluid: calc(22px + (32 - 22) * ((100vw - 300px) / (1600 - 300))) !global;
$h3-headline-fluid: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300))) !global;
$h4-headline-fluid: calc(22px + (24 - 22) * ((100vw - 300px) / (1600 - 300))) !global;
$h5-headline-fluid: calc(22px + (20 - 22) * ((100vw - 300px) / (1600 - 300))) !global;
$h6-headline-fluid: calc(22px + (16 - 22) * ((100vw - 300px) / (1600 - 300))) !global;
